/* Small Button Styles */
.smallButt {
  background-color: #5D8219;
  color: white;
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 
    background-color 0.3s ease, 
    transform 0.3s ease;
}

.smallButt:hover {
  transform: scale(1.03); 
  background-color: #7C8733;
  box-shadow: 0 4px 10px rgba(93, 130, 25, 0.5); 
}

.smallButt:active {
  transform: scale(0.98);
}

/* Big Button Styles */
.bigButt {
  background-color: #5D8219;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 20px 12px;
  height: 130px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: 
    background-color 0.3s ease, 
    transform 0.3s ease;
}

.bigButt p {
  margin: 0;
  text-align: center;
  line-height: 1.2;
  font-size: 13px;
}

.bigButt svg {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
}

.bigButt:hover {
  transform: scale(1.03); 
  background-color: #7C8733;
  box-shadow: 0 4px 15px rgba(93, 130, 25, 0.5); 
}

.bigButt:active {
  transform: scale(0.98);
}